.input__box {
    flex: 1;
}

.input__box > fieldset {
    position: relative;
}

.input__box > fieldset > input,
.input__box > fieldset > textarea,
.input__box > fieldset > select {
    width: 100%;
    padding: 1.5rem 0.5rem 0;
    border: none;
    border-bottom: 1px solid var(--neutral-600);
    background-color: var(--neutral-50);
}

.input__box > fieldset > textarea {
    scrollbar-width: thin;
    resize: none;
    field-sizing: content;
    max-height: 300px;
}

.input__box > fieldset > legend {
    position: absolute;
    left: 0.5rem;
    top: calc(100% - 1.75rem);
    pointer-events: none;
    background-color: var(--neutral-50);
    transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

.input__box > fieldset > :is(input, textarea):focus + legend,
.input__box > fieldset > :is(input, textarea):not(:placeholder-shown) + legend,
.input__box > fieldset > select:focus + legend,
.input__box > fieldset > select:not(:placeholder-shown) + legend {
    top: 0;
    font-size: 0.9rem;
    color: var(--neutral-600);
}

.input__box > p {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: var(--error-500);
}
