.login {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.login.active {
    opacity: 1;
    transform: translateY(0);
}

.login > header,
.login > main,
.login > footer {
    width: min(500px, 100%);
}

.login > header,
.login > main,
.login > footer {
    display: flex;
    flex-direction: column;
}

.login > header,
.login > footer {
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.login > header > h2 {
    font-size: var(--text-size-large);
}

.login > main {
    gap: 1rem;
}

.login > main > form > div > .forgot__password {
    margin-left: auto;
    width: fit-content;
    margin-block: 0.5rem;
    color: var(--neutral-600);
    font-weight: 300;
}

.login > footer > p > button {
    border: none;
    margin-left: 0.5rem;
    background-color: transparent;
    color: var(--primary-500);
}

@media screen and (width <= 768px) {
    .login {
        width: 100%;
        flex: none;
        opacity: 0;
        transform: translateX(-100%) translateY(0);
    }

    .login.active {
        opacity: 1;
        transform: translateX(0) translateX(0);
    }
}
