/* HEADER */

.header {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

/* 3D OBJECT */

.object__viewer {
    position: absolute;
    top: 0;
    right: -20%;
    transform: rotate(-30deg) scale(1.5);
}

/* MAIN */

.main {
    min-width: var(--min-width);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}