.our__team {
    padding: 1rem 2.5rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.our__team > div {
    padding: 1rem;
    text-align: center;
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our__team > div > h2 {
    text-transform: uppercase;
    font-size: var(--text-size-large);
}

@media screen and (width <= 1542px) {
    .our__team {
        padding: 1rem;
    }
}

@media screen and (width >= 1024px) {
    .our__team {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: clamp(150px, 15vw, 250px) 70px clamp(75px, 10vw, 250px) clamp(150px, 15vw, 250px) 70px;
        grid-template-areas:
            "doctor1 doctor2 text text doctor3 doctor4 doctor5 doctor7"
            "doctor1 doctor2 doctor6 doctor6 doctor3 doctor4 doctor5 doctor7"
            ". . doctor6 doctor6 . . . ."
            ". . doctor6 doctor6 doctor8 doctor9 . ."
            ". . doctor6 doctor6 doctor8 doctor9 . .";
    }
}

@media screen and (width <=1024px) {
    .our__team {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:
            clamp(150px, 30vw, 250px) 70px
            clamp(150px, 30vw, 250px) 70px
            clamp(150px, 30vw, 250px) 70px
            200px
            clamp(150px, 30vw, 250px) 70px;
        grid-template-areas:
            "doctor1 doctor2 doctor3"
            "doctor1 doctor2 doctor3"
            "doctor6 doctor6 doctor4"
            "doctor6 doctor6 doctor4"
            "doctor6 doctor6 doctor5"
            "doctor6 doctor6 doctor5"
            "text text text"
            "doctor7 doctor8 doctor9"
            "doctor7 doctor8 doctor9";
    }
}

@media screen and (width <= 480px) {
    .our__team {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr) 200px repeat(4, 1fr);
        grid-template-areas:
            "doctor1"
            "doctor2"
            "doctor3"
            "doctor4"
            "doctor5"
            "text"
            "doctor6"
            "doctor7"
            "doctor8"
            "doctor9";
    }
}
