.services {
    --total-container-height: calc(100dvh * var(--total-cards));

    height: var(--total-container-height);
    view-timeline-name: --service-timeline;
    view-timeline-axis: block;
    position: relative;
}

.services > div {
    position: sticky;
    inset: 0;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    padding-block: 1rem;
}

.services > div > .marquee {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.services > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media screen and (width <= 600px) {
    .services > div {
        padding: 1rem;
    }
    
    .services > div > .marquee {
        display: none;
    }
}
