.auth {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(100%, var(--max-width));
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.auth > header,
.auth > header > a {
    display: flex;
}

.auth > header {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.auth > header > a > img {
    width: 150px;
    object-fit: contain;
}

.auth > main {
    flex: 1;
    display: flex;
    gap: 2rem;
}

@media screen and (width <= 768px) {
    .auth > main {
        gap: 0;
    }

    .auth > header > a:last-child {
        display: none;
    }
}
