.marquee,
.marquee > ul {
    display: flex;
    gap: 5rem;
}

.marquee {
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
}

.marquee > ul {
    animation: scrollLeft 30s linear infinite;
}

.marquee > ul > li {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-size: var(--text-size-mega);
    white-space: nowrap;
    color: var(--marquee-color);
}

.marquee > ul > li > div {
    position: relative;
    border: 1px solid var(--marquee-color);
    width: 35px;
    height: 35px;
    border-radius: 9999px;
}

.marquee > ul > li > div::before,
.marquee > ul > li > div::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 1px;
    background-color: var(--marquee-color);
}

.marquee > ul > li > div::before {
    transform: translate(-50%, -50%);
}

.marquee > ul > li > div::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.marquee:hover > ul {
    animation-play-state: paused;
}

@keyframes scrollLeft {
    to {
        transform: translateX(calc(-100% - 5rem));
    }
}
