.register {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.register.active {
    opacity: 1;
    transform: translateY(0);
}

.register > header,
.register > main,
.register > footer {
    width: min(700px, 100%);
}

.register > header,
.register > main,
.register > footer {
    display: flex;
    flex-direction: column;
}

.register > header,
.register > footer {
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.register > header > h2 {
    font-size: var(--text-size-large);
}

.register > main {
    gap: 1rem;
}

.register > footer > p > button {
    border: none;
    margin-left: 0.5rem;
    background-color: transparent;
    color: var(--primary-500);
}

@media screen and (width <= 768px) {
    .register {
        width: 100%;
        flex: none;
        opacity: 0;
        transform: translateX(100%) translateY(0);
    }

    .register.active {
        opacity: 1;
        transform: translateX(-100%) translateX(0);
    }
}
