.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form > .input__box-container {
    display: flex;
    gap: 1rem;
}

.form > .form__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
}
