*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
template,
video,
audio,
canvas,
picture {
    display: block;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
}

button,
a,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

dialog {
    background: white;
    border: none;
}

template {
    display: none;
}
