button.primary,
button.secondary,
button.icon {
    border-radius: var(--border-radius-out);
    text-align: center;
    line-height: 1.475;
}

button.primary:has(svg, img),
button.secondary:has(svg, img),
button.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button.primary {
    background-color: var(--primary-500);
    color: var(--neutral-50);
    padding: 12px 35px;
    border: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button.primary:hover {
    opacity: 0.9;
    scale: 1.01;
}

button.secondary {
    border: 1px solid var(--neutral-900);
    background-color: transparent;
    color: var(--neutral-900);
    padding: 11.5px 34px;
}

button.icon {
    border: none;
    background-color: transparent;
}
